@import "../reindeer/reindeer.scss";

@mixin mytheme {
  @include reindeer;

  $form-h-padding: 10px;
  $form-row-size: 38px;

//.v-link{
//	padding: 5px 2px;
//}
//
//.asd{
//	width: 100%;
//}

  .button {
    margin: 6px;
  }

  .userbar-horizontallayout {

    width: 100%;
    margin: 0px;
    background: rgb(220, 220, 220);
  }

  .v-slot-userbar-title {
    width: 50%;
  }

  .v-slot-userbar-rightpanel {
    width: 50%;
    text-align: right;
  }

  .userbar-title {
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    padding-left: 30px;
    margin-left: 6px;
  }

  .user-label {
    font-size: 18px;
    padding: 10px;
  }

  .form-verticallayout {
    text-align: center;
    margin: 5px;
    margin-top: 40px;
    width: 100%;
  }

  .form-label {
    width: 100px;
    height: 26px;
    padding: 3px;
    margin: 3px 0px;
    text-align: right;
  }

  .form-content {
    padding: 5px;
    min-height: $form-row-size;
  }

  .controlpanel {
    width: 100px;
  }

  .controlpanel .v-button {
    margin: 5px 0px;
    width: 100px;
  }

  .controlpanel .inputlayout {
    margin-bottom: 32px;
  }

  .inputlayout .v-textarea {
    width: 100px;
  }

  .inputlayout .v-button {
    margin: 0px 0px;
    width: 100px;
  }

  .form-left-content {
    float: left;
    width: 120px;
    text-align: right;
    padding-top: 4px;
    padding-right: $form-h-padding;
    padding-left: 16px;
    padding-bottom: 4px;
  }

  .form-left-content-button {
    float: left;
    width: 120px;
    text-align: right;
    padding: 2px $form-h-padding 2px 0px;
  }

  .form-right-content {
    float: right;
    padding: 2px 0px 2px $form-h-padding;
  }

  .title {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding: 20px;
  }

  .login-textfield {
    width: 120px;
    padding: 3px;
    margin: 3px 0px;
  }

  .error-horizontallayout {
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .v-caption-error-label {
    color: #cc0000;
  }

  .menu-table {
    margin-top: 31px;
  }

  .v-errorindicator {
    padding: 4px;
  }

  .home {
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
  }

  .label-huge {
    font-size: 20px;
    margin: 5px;
  }

  .label-large {
    font-size: 14px;
    margin: 5px;
  }

  .link-large {
    font-size: 14px;
    margin: 3px 0px;
  }

}
